# Data Handling and Numerics
numpy
scikit-learn

# Plotting
matplotlib

# ECG Data Handling
wfdb

# Tsetlin Machine Library
pyTsetlinMachine

# Parallelization (usato nel manager multi-label)
joblib


tqdm 
PyYAML 
